deb http://{{ apt_source_url }}/ubuntu/ {{ ubuntu_version }} main restricted universe multiverse
deb http://{{ apt_source_url }}/ubuntu/ {{ ubuntu_version }}-security main restricted universe multiverse
deb http://{{ apt_source_url }}/ubuntu/ {{ ubuntu_version }}-updates main restricted universe multiverse
deb http://{{ apt_source_url }}/ubuntu/ {{ ubuntu_version }}-proposed main restricted universe multiverse
deb http://{{ apt_source_url }}/ubuntu/ {{ ubuntu_version }}-backports main restricted universe multiverse
deb-src http://{{ apt_source_url }}/ubuntu/ {{ ubuntu_version }} main restricted universe multiverse
deb-src http://{{ apt_source_url }}/ubuntu/ {{ ubuntu_version }}-security main restricted universe multiverse
deb-src http://{{ apt_source_url }}/ubuntu/ {{ ubuntu_version }}-updates main restricted universe multiverse
deb-src http://{{ apt_source_url }}/ubuntu/ {{ ubuntu_version }}-proposed main restricted universe multiverse
deb-src http://{{ apt_source_url }}/ubuntu/ {{ ubuntu_version }}-backports main restricted universe multiverse
